.container {
    display:flex;
    justify-content: center;
}

.multiple-event-listeners {
    height: 800px;
    width: 600px;
    background-color: orange;
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.event-delegation {
    height: 800px;
    width: 600px;
    background-color: orange;
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mev-box {
    height: 120px;
    width:120px;
    background-color: grey;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color:white;
}

.ed-box {
    height: 120px;
    width:120px;
    background-color: grey;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color:white; 
}